@font-face {
  font-family: "icon"; /* Project id 5049520 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAsoAAsAAAAAFKwAAArZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFMgqYdJRoATYCJANECyQABCAFhDcHgXgbuhEzo8LGAQgob0/2fyjg5Kp2wBAYhrBZvu3Y1tidxA1Toyfs9wn6K/o0JTzatSdCRCQIH90dWZpwRHr0fREP/I+9u8++akNEIg2aaBTRED1BXSQ0UuT0JeQNKWE/sLN/42m1RtUJDT4R3+iD4mCwiVob2tdbAwTQDA3z/7fUzOHSoRAma9ouP20fRz7cP2Y4yLKmsrJGVTYAeoAA4P//5lY/0LEk4KWz7ieTdxetrKiPJdfkSou93RMwpvb/z71aZKEIn6swPbXq3iSFG2j/S/GVOOX0l3nEwk3InakCouvcJuzmZuyMlvOfseW9z1UjAsYcdizyJgI6DhEJ/eTz6cvQJ/TNM3KY7l8G3O7hCd6/yX2XI0eEBq2sRtId87IvCvFTPAvgs/zz4T8YbBGV5H6q8/zUHQefx3+DE7VOSaswtLhRWDmiIGFfw/LCj+jiVWBo2ie1jsnO9I1Nj38Rk0qvmEBNGB0xSVmdFq3Bi/H/Bq+7IlNNnDy0UMk4SIn/Jx5oCoYGip6GjhFe+qIsaWsRGu5ajzy/N4+ASueMJhVjBKqAMaSqGQMqwShUI6NHdTAa1BhGh5ooX/QkcF3oWeD60DtB1Qx9ERiZNRCSBaKA0ebfYPmdUsyYdtgCOAHk46Dscw94S/mhLALKjCIVJ01/YUuBw4r20rtdvamqkUJVNwQ20i0FOOQWNejaH8AKpbvxJkojGBcW+gNRdJT70uDT5HryC3YpH5wqlMO1e947NrgMm1WIiOkg910npcVIQFYmws8VVnFPVPFqQmQlyrHuuK+HdVNFkdBXHiHMWA2R1noIN9fWvsOiGAsAihDbpvhR4SDEI8LhsZSIlBirXoxrWkyqhi01SzqpNgvr0ezV0oa7ZaSyav4WQuV+VRpVFn3geyHZj3gy4kReZltq/u154hc9rPdPkD0KsIRqqy8y7ZtQ6v/epwHZz/uKvKKjpwYUNjh73CfnhwdEDM19H4pvVyE3r5aVYLjud9wR/4Ot3fNMxceaPopsMtXoTMOyyjN2Il537FOgym+IO+2keLvU8r7CjQ8wG1jL9mRIR5QNbn7zc9HH+2Uv6yHKenITr72G90d8fZ3I1fP9wlyFzr7Hgj781uNoOpts9BFS5Rn1iZ1g8SKyUxRWAHhXjo/+8do9kshybT35ToTAzF556FX/+oWXVX9oyzjx7Ch3grc0ZTWvEhWskhRRxfONeLE9eJltuEWPMEpQACD7iIkGcLHGyVz49HAz7tE09YD1YCr6kNuHvIj3EwJUpaxGiL6WvQD1Oc62XLUoV+koXZbrqAHgIV7XRdEMqrRhw+25JaIQz+UxL7GaDtFVh7hGXay2k/hkdz1yU7toZUWsmU4yVS4zau2qXD8W04sk2D2/mAGFzc78zedRDp97KmcHgfC1NbGyIkuG54s6I9fweUy39BOGMp+NNMZyycX8qbpnX6/6vZDmN9wxi01BhyKO6AHXsFHekDn5ZC+8R/rFjc4x2Oj+0l70MH1rA2erbaX19li6PKDXLaHD3xFnrFpgKytPeQphRJovYuSBPSfb5xU/7U5teGv71J66tbtOEQEOkXIQR0hOrw/asXd1zV6ZlbUjFXzFyKa2WUjOv4xL4MzhXnyU7zFSmOGNEGPfoyE5jnxDcIVo+Xr6Il/hCTv49Qy6EQKaJ3jnamuFxVJhrX70BBucwmrbI5ICLjYP20GspiGsBuZwFiuGyRpUPQIZ6TbILWxkj1Q2diOTHMym9uzBTFYMi0n+Izkb6+hQV4d74AYTYioq5DFpVmU8Jx6nC9TWYXQtizXIbSR76bSeDc5au73W2QBvHQ0SWFmD893LvHdOdhC3uqT2FZYSk7nUUn7bUmEuKTHv498ut5SaTSWAhnJTaakJBwTr+0AJSJDlMxLqx0mCb0xrF+y5pz9aQiEeu2/0S6xzPgyH+6k8d+8OBaYvnCWyJ8ZImYSQL8KWEJMDCH2QSRI7alTFocCNUxm5x1zryoNWKcSxCjQo0CXcqL5csJEGLWpEeaaSmf//b365Vdc8cRdT49u3s5SzO3XavadBJDyrjym8cnmWalanTleuzFrhtp49kr3es6Zw3bpGX9AyqJZKvEw7ro9Ptl9uWXPD7iLnk8ejvTeCpqVSV6YzuWRl7nhCGDh/u0xbiTe7FA3WRkujteGZugC4xL9o4wf3Ki3zTwzLyYqP7tAxOs7RTKamcocj7lYR3SE+ywRmq7Ss1/jB5S5UMLB9VEtEREtU+/9PsMEB7/z/DxslfPHcMIyULfKs9lwkI4edf6J6ik+BPi+G9l/yUaDb+qmtdCa5IKZzefKYrBn87eYteUwG2r4tsrSrrSKkt7AUrfQ75L7bTAybU0jLKpwwnwbkxC4PRe9EfcUcZOE9cV8I0QfDYMuPQ3C5jOSHFx9AhqYjAnJAOnIE9+rh8ZXR7DQZHEOuqTdVgKg/SBdsm3htx+/ai9rvHclPXRVb2+4Tpbj0F/++ko7hHZ0yXJqQfOFMGS5z/iqzHEzG4wjBk2ElNHEwOcbBDwQTvmC2WXRefE50X2SeqXyzQTnEMER54M82hecHr4TXB09ssKFtxS0Y837ge6FywxvbnQNK1GnVOhWKJsWb3UW0VieQ5Bb/mFHpC0en+8WUsLY4pM6U87WWLs/Nz5cEShyLxR2/0QiNbiKuIeTG+ESdZkkfYqEEL7TZK2osXQH2drYC3G8hGJZkC88EnBFWrx0/qqAFepBe/1ll3LBbWC4pX3PLcmqNnDSQ8jna/9YcnzWnMDg4V3RGGC08IyqXGwYQblhPfATWnjcC78lb1s5jET2xWzwB4DexoMASeVHFvKUJcdw3LwIOOAiKeAUctIjikhww8MEmBJfjiHiTc8Dj/kOGGFt5IOYCB+D2QGe9w1Hf8wl2dk99NGdywKEjp/XZfrGxfr7e/sSxs12C/A+XSZvMlrD7p0zKs55JAZW5bW4gWaBwUNwE7l1+CeDGc7s81Vb0edUhpQMMdFEDcG13hVEm253TwrC77sv3azZjKIDrq/MMagrNMowRVMCgIl7qYUiXW+06w3T9+8CerSLGiWB0sn4ZSP9KET+tYnhEUM4xePFAj5IUUxai5ZR2hvX/2Eqwdh5TXsUN/+bu9bet7pmxNI2weNd+Wvzb36Ra3BUH/muJK5WnES4f71LDOP3MVTitRGf4R7uYcWySMaRPqqg1ZtJvYala6jzKWWflE+6TMU2s/MM0pm5M1LSMSbINrtlzS0zRtSOmITsc07EX8+JdU6oLDCG3SWh0RUzQshITDXylZPI88Zsq8PyJqRr4pRo8/2JaPv+xIQfo3wMNsCfJhSCzhj/VIDu+goiK+oPEGz7B54gqMh1NvK0vYMCn2SQ/ilkInHBvNXnOejpQyhLnbQYsjNIQ3G485qZNRszqwoMHGkTCPZFckiOzhmcH//qvIKKi3pAuxSeAciahJzE1MolwfQFIkeNWZM+PYkahgQvu0aKJ56oFqEeTJZx5uQxYGEkzWG5nTPPxpNqoWkPPYM08mvC+9bhgNJktVpv9Z88jOpwut6fb03idUjxHanoZGhgGpIal1ojGNX0F+eY9OlwsQkyQ2uFssrg7RwKqjBh+aRJpK4w4RFtg3RkqVTTVog6Npj+b4EOn6OUBPVPQpsMrXg6Vy9W6PEr2iscD1kQlxVls5IBpu1UyVLHvK1IIFZq9a1PA4ihOVQoLBQAA') format('woff2'),
       url('iconfont.woff?t=1762503115489') format('woff'),
       url('iconfont.ttf?t=1762503115489') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shaixuan:before {
  content: "\e610";
}

.icon-jine-tianchong:before {
  content: "\e670";
}

.icon-zhuanhua:before {
  content: "\e700";
}

.icon-a-44tubiao-204:before {
  content: "\e6a1";
}

.icon-xianxing-_xiangshangqushi:before {
  content: "\e623";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-aixin:before {
  content: "\e602";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-a-ziyuan567:before {
  content: "\e78e";
}

.icon-tel:before {
  content: "\e641";
}

.icon-riqi:before {
  content: "\e647";
}

.icon-gongju:before {
  content: "\e633";
}

.icon-shangpin:before {
  content: "\e64f";
}

.icon-jilu:before {
  content: "\e61e";
}

.icon-shangpinliebiao:before {
  content: "\e613";
}

.icon-zhongzhiguanli:before {
  content: "\e646";
}

