@font-face {
  font-family: "icon"; /* Project id 5049520 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAucAAsAAAAAFSQAAAtNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFQAqZUJUwATYCJANICyYABCAFhDcHggAbHBIjEcLGASD0OyrZXyVEOZwi9W+wV/F51s9UNBLHKxmHLUZsG4z0u6b/H+f8+yItJKlSAS/pTIpUaGdMvUV9BhNlOySbJxMr+g2fe9n2feZSnv+4fufOfbvVzHdCXkwSX5IAYw+z0ryrqc0fqpJe6jQlnttJwxLCtbTj2nsrL/ktjPwyJAD+2i+1yEIRuwhziVX79n5g4WB/cEN8x5sLYQFAuArZqQowqLirsK2rtzUYrnnwUSr00smi+I7zAAJAMUEXwLbeA0eCfM+YNA4CgcC+RyDuj/aCvAzwGZcjChIRH7Ok6roThpYDCbA3dhwAltm/j/4QiXwAMGSBHWhobq9saHqIPZ2Nc14O4F+Y290kzI8BIAHgANqtWCX6FdfdBDwk7SyjXCphGwAY+F0Q4CH2UMlPKKModrH6GKJI9SN4tPTpbK+3sLCiyN6PDoa8PM/CsBmDXXQyjBIUJGSkaCpgyOFIBIrv13/eCowxNPS6UwXwEJP5wAc8VOQDBB4qKRRxP1DI8lBQqMaNECABj4IAGbgdAqTgsRBAg/eG0SfvAwEM+BAIkIMXQQAOXo18QIJHIIFwumjIBxR4OrscfBGsXqcZAHQFIF4A5BNYzGJg2GWFNcGlRDBeh5Oma3yQaO4LVXQLhqna4Vqtzl8bdqsCmRBf7DBEq8ZaqSiCYZpRQQyjoyh/f6WqiHSQkYza/yQyH18jQfqJ/20FgtvyL6UU9h3ahKa6jlykGOHfLQBjS9chktcnyRPcgDnd3BpB5ypFeGJplb6MVolrKzTZBLcmSVjHr6dpcS2aqJGl8buaka7mYmHkeZ7AOS8kiHGXEnjXxcUTuNUUJQBwNO12k+yrhVKEeJ0s5ctqAgwp8D0Tr9eXiVqnW9THWR+tm9OMXN28TXRDYh9FXNCnCZryaSo6KVe87SQ/0YP4Sl2pLrdhx4Zfm2cohQPcwelqeiPAVWjd2pz63UGo6rcWmSrRwx8qlgt7DmwAgjt8wqwQTx3dIfLIyUm74ufrEM6vF9eCMw5OCEZiunIQLNUJBXWMExoqq1a6zKlsjfXuivJlh22KSMtExJeuJylfL9q4rWAYAZwCcfXN6+kN0YYw/MPZwiHeIx7kDtCBLWM4dXF4/nDEX7pEixc6e7R+ATb2E06P3P229NV1DZUrvYuqxnpthruCKy+mWcF/DUAz78CHl29sLtJio/5S9fVoGsoPim3zPJe65K6bzqyZoGVjIjnAq7rE9fw6YQ23li5mCNlEOgnrA9/POuPaNApVqAaw+Ehrwbit/7Uijh1djSts+z+FO0AxwiGEK5Ac8R6aBm6tuB4h+qN4ECC7xWfjYlrcKp7h77n2bABQIX7TPgYdQS1uCIg/tuRqKG/lJgdwG/YI+zYhXs9g3Ma9tELcvxnhjLv4/Hnhoqu0sqpRrNduvCBe6lgWzlDBJSmF40BwJ478lU8hkj+ZKZ44DDR/8aJw/rytP3qqeGOMS/gqrrihkII+X45CKBUggfbJ+i377rppJ9KLnfGUk01Dj2JGOADYbiPSXeajEA/CGNl2CWKec9LJ24vlbGEycR0Ed2FdyaX1sY0UW4/cdArtPEGwx20E7vz5TL4KUYje3pVCMthv3X1ciRi8tkm+tP4u23QxUQZMfYgh7b7BYXiQalijr4YA/13nzIMhz+IYENb5XlhvMPZrYmUmZtorw+Lr4fn04NTMhUHqoIV5oytkw34M6tuUz6fVcrXvQs2gZjLj4pdyv0BW9kHGBmnX+/9Pq4MSSU3vj8mXk0HYPXZ8ujXFYkmxpt8RyKCoJt12h+BMgC3Eth1r9Bwyh5hPkrEEyacvkC2U8nFNrmRhoEhyCdNsCfGWzCbIWJIg0QuZ5cMxyMpifdnIaFl0nEtFINXSk+nJkmNkZikxA0ny0oWSOvfUHEdmTEymIwee23Msoo05jhd/K1846HakWX3GplgSos2JluSrlhRzQoJ5kv1qsiXRHJ2A0J0cnZgYjW2C9WUbPehlDWW9spfo211yj2lH7Z8FVwfoqbzpjOqd5XsEjswMofaNdwTR75jagHtRXQL0xsBqZa1xZWtjuJ0V+hh5VEgPOSh6hEQp/vI+9gieslQt/0qRZ6W8VlHkrQCbKdIgT4EsC9b6z5/D327tBYqaEJ37/HlFcGVR0b79OVrN8YhY17mzFSEVRUXnzlU0SjdJFko2URmujRtzW4AB5wpS2STDkhnNh7YcnpSfsy/Oce+u0GwLhBWkhieFuwKGlO0WKA9F/zrJkMrme4PQmmvJteYgHwTHAK/uC1o6u0tMatW747AhPbuNK+zWw55v6t9fWu09fpu7jes5xIXctsSkaUtn9zuds2Rs14LOnQu6jv0pkLEWdE6++Od0uV7vqM3zJgHVVDpVHWCat/CjbE7NQcSIWPRT/9ovfMeb0dixvo8dn9xXHFKm3mXePoLA5WNHd2mkxIm2lPbTNYny1JaHfZqZjfOqXGiIa9lvCEzLJ9zWvtAW6ySyNTd0xZDaV5E728h3oFDgfW+fvgWDwgplEAiyQkYLekoiMgCpKAD+kg0JHbaCLPSVDVCu0dNQ+NFw2vCxUHwOT5OEyktvf9b/i/y1hMJOhY4A1r9X9ekHB7ABji9JgVEGqBgtVQHKHhyMMlDJ4B4hmv290qw9qTuhvak1lwc/2xw8J3JOsOfbziDqFV1Bv6KoSJt8dHyBkrjZ5qUmePMz2zVPsNxhNUTNQXlBz8bHMVgdYDJtbxW7aOAfwsCWsQnkdru/o9/JTMsEsfLJhDZ6e42u8AMyhoUvZ8OMdnl2eXhY7QzjH3rWZYtJybBMBDJr2Zxsyz8gsnao5ljrY5r0gfVTGlibBJB3P6c5p5/UcbgpcP0Vy3/rA02RYUBV9JWqiPX/QXb0cO0xTTfNMW2yXba1Uaqcyi5QjlUtYKeq6sckbMapyisqjSAuK7NS2VtVVKeq61UmeNsMYIcmCOoZBE2KcBLbESW3tsrYQFam32c8ieBPRsjFqZ6S03jgaokj227PniqQsUwNd+fo2/rw0f8jhrbs3r1li2atjH8dn9C21fQkA1ZK9JJZ/VaMsB7rByHm0b+0MTmD7ByZopfiujwBKDbFhPuGZzwZt3FQ4m0C4C2ZVThnU3b1HF7idaI78Bgvm3vmVOJzAbzvexJnXIkNeFQdN1A15XEP4P7qul7EXd4fXQQ/SFnSzniR7UtLsPc25XPX4r52ridw3ld079Rx/QOu/7obt37kzQdr/hkvrU4ffOi3wc4HtswEug+cyea+musYVofAB5xMJu4XBHgf9D0aQE0AAPF5u9RiqFICQ9B4kutBkj/8tIEaVnySah+HhOLfAHhpNdz0bfKrrH26mvziDIyUPgNHCA0kQtkMEq1FhgQhIoPSFswz0/wgHXBofAEqmiYiA/FRkYGRqya4K3QzIRC6O4OkAw+RIPRCBsUFN2BFtoGibtYjITDuRdELksErQdn2/EKdLaQplt1/mGpCq5iOJkn3J3pMdVaoGz1jVkKl4MRH04OhtUHEFCqUPCqZ4248Vq4VRjK4wWtCYJ1zL6DoC5IMXlk4vfQX6mwhOUqs/EOQmmIMFDCFEUwKAj8RcOEDPal1o2ckkZVUCS4n4MO3RMsdQUB0z1Wh5BGUDWxxB2PyIlWVjfya3FHM4Dh6KFtdjbA0kyVrDjnm9Ix0DznnkmtuuSMVUiM/uKizBLquS6Aug3+syOOQCbwsg9fXx/IfkCs/wnCx4FwQhOFssnjuChFavR7+h0TXbfb6kI2kq+hosdlfdLVj8k+zaK2G0UL/SklavIPhkfppy3K1Pttb6nmiA11qL3VVvm4B6vY7r8jmp1StJfSoPx5XBSlBet5qaTAAAAA=') format('woff2'),
       url('iconfont.woff?t=1762827445127') format('woff'),
       url('iconfont.ttf?t=1762827445127') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sucai:before {
  content: "\e60f";
}

.icon-shaixuan:before {
  content: "\e610";
}

.icon-jine-tianchong:before {
  content: "\e670";
}

.icon-zhuanhua:before {
  content: "\e700";
}

.icon-a-44tubiao-204:before {
  content: "\e6a1";
}

.icon-xianxing-_xiangshangqushi:before {
  content: "\e623";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-aixin:before {
  content: "\e602";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-a-ziyuan567:before {
  content: "\e78e";
}

.icon-tel:before {
  content: "\e641";
}

.icon-riqi:before {
  content: "\e647";
}

.icon-gongju:before {
  content: "\e633";
}

.icon-shangpin:before {
  content: "\e64f";
}

.icon-jilu:before {
  content: "\e61e";
}

.icon-shangpinliebiao:before {
  content: "\e613";
}

.icon-zhongzhiguanli:before {
  content: "\e646";
}

