@font-face {
  font-family: "icon"; /* Project id 5049520 */
  src: 
       url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAqMAAsAAAAAE6gAAAo+AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFHAqXFJM7ATYCJANACyIABCAFhDcHgW0b6BAjETaMk6Il+8sE7ZKcb5nGVo9x6KaMpFCgr8MorPt1kljEVp81GUCn3rPpR5+K6WdChKmCZmaAlQFIAPDweXv/ttv5zpdBE0hgd1mcBhhTQZxsUacd8b3Px1PCd4AXvgvJjmJW5FIPEAD8/5lNH1oHEufS7z6JD8vf6rp9VVh5a+7inUztBGET5vAJ5f+tpRZZOEIXYe7Fqj97F5idOZgN/hBveHMBZqFiJNLuJVyWda2wrauQFarG+hotZ7dQE/DoZSgxrfzsY0AAOGq0AtmjEjIgG6XdO8IPNLabgLgrMWqrSyHaZqM94QSRjS16Y/YlJoEB8iLPAZhofz8xoSVEAIlJYE9KqYqswCEH+XoIZXfaB+rDsOZG4GQSwAAoQJOB5RKvv+gKqJA2sYxz9aatABAEfvv3yX7S4e4IcqgcOofVEeqIdiQ7OjsWv8CLCa+HOJ3wpRk1UbYXIYibKv8LD2DJSNHEGK7kOBIECknEBYgCMAn1PtYkBwcpU4AFh3sKyMARJCAFV0GABtdBQAxuhQADHgoBV/AomJvm0RDgwJMhIAHvDAECfDFSgIIXQJBeBwtSQASvh2TDBZ78DUoAFoCaAP2ABfUH0kjiTiGB5EUUl3SBCIMedcHzOdfyOGMRvrPsQq7BC9yfdttHMhi7Ts4xphGSl+f1+ehD6c/8B2S5cnKvZfxWhSYNE0VWGJQ4YbLYPrtMhAlRCIJSXY8ThpWBsdQSGTJCKZiSS7RiQ4ZCEeBFOoRKrBPXRbAwXL0KdJTXRhqW8kNpWaZlcMrCr7siAItYxjVDa+4Y60vdqPOqOTH/00//UWSPcZ03tU+ew4nWm/U+WJQLv91qaq4P0WJ5/7EHDldxplw5+CK6VA9Ol73QjTJjz1xPLPp4V57ZDtqjnEXXO9URTww6qwhqZ7sei/a9QGnFqPiMpTFOGh2X3DlXZO2HhAaVtN9opxOxrMn6FzeqBbkI82KOBmpdPrHzb/fF0nEoWK8XtWKhyW7gqHD51dpwW0d80C4kOtt5nR4T0d/0qsrrQrjeOeF9o/03gEJnyCl+E6UoOg/3WhadN809P9nIBHVtXWJFFymGXtmjukQ3/c0yXJ9pkoyHnGcWxYU1BBfIR7C91NYQIsXwdi1id3UYXzCyUyXmCFMLON2D3VguUopEN/RiTPbDPEJjjTNLYvl3rdJBOh831YfgCzkww/ATVKEj3+3ZwjCaVcu3fCv6ptTMAJYhlib6p6kHZgdxOtN/m6ayi414ohPaeb8FzqNI+MaYqPCqPZQh9qkPDnGmPKiH/WVEpW0r07TFq4e/J2Pu4UKK45L3BLU5Pw5JLjeW1E97Z3Zlz48Xae7MeNTLZkG7fkzNIXLZaPaSOXlgHrV3zYsHm1VER84Xa5ph+nkMQlhjpc541EK4UzjwChkvUy9K+pHdNOtlAhNMXXNra46QYq9p53MlLFRpq6y3uqQbbuRJIVmeCl1KTIVGY6Gp5LEAA1FBifkxkTJuZi+zHpN+KFNJj2CYUJoZXDJSOsplcFxQxY4KNGwVrR7CkrbsEJoJZWgSOEpycQiJ8nLBVdDqpfrsLAVNqIoISYRAXlFWzpNKhhnsMopdNn1TaSuzWMpslXhrrbRASytt7/7nvrNRPS7l0R0Kjbl6Q56x4I6x0JCba9glvFNgzDPocwH1Bfq8PD10wvS+kTe8pStmPlWM925yc3r7JtzeAWhuhgj+gTPgudz5CI70D+T2bA1B/0Wy1PeprpWvt8pvMb9UNaWhKtQz2dsi0wWGyyBfA3Xy407ZQ8CeFWk8XijLomyp3NdWDrNaq5SliMwK0Mr//+ufbvV1juuqr3r7dnbAnM6d9+wFT49zmtCsq1dmB87u3Pnq1dkrzzawo9gNXGnW+vWyHpSUvbZIyFeO71s3pX5afk3lnmzb0ydj6mxCcG1RSH6Iyy05a6eAWxD96XxlkVDj9K80VRmrTJXPg1fA6fWLmDBkm5ffIKp5anJEm46d2oRba9RxcdJhDb+Wt+kYkewCt5qX33vCkHYPyhzUoXVty5a1rTv8F2AgguTc//cXRX7hNg4f+C7mSrjFvurhpx+owu5mhyY9lPjv/dE9ZNunduTZmMzQLgUxY5Nnuu0wbE2nKVmHdq3yupkLm/bxyJMV1T8sqmNQDZ/7RyRnTVxwAPWkro8833n285JgC+579QN6ftAutpkbkMupmEeXHiIxuJMUfpDuEi3ER8Lfl9ASvjguTQ5aV0LaPlg3/poIZafvykvK752UP0OK2VDjF+Uj+PySbXI7tehk8yVzRRY/OMlX8LX9yu8k4X0VEo0KX76FRgnvx0vwHaEXFs6Zel7wOu/5wNMwK+DNxoCh2qEBB/9s9+c+iGeLP3Cc1ixrl1PL0w8avfcI2PjGfPdggMxmUkbl/tX+b7avUZpsUKu3NggdnbBozGf90Fxmq9XHFnuhzNhVXH4ht5G3dYlXp2+EKjhkkhCsshcLk0KCl/ZVLfIWssyWwlJjN4C5zpwp1F8E7dIUj7MNz3qUrBw/isEaJQhZ+bPYeXD35mlqv7W3jafX+qm1odvcwNtz/daeJtmBaZ5nPdp4nPUssBc2VLnwvYSRfAfFSKGXYnn7hKrqxd9WaIC4xWeRj1L4ihTLIvN4bukBKw7BP8JfE0XtUrL9Bj3cLBX8BCldLTmY8PxhBo4rOpjzgIO4M8hWYbVW9BJg7L1C12wxDQ8fPaNJqR8WVr9enQaq4+e6Nm6wf0v8FNabHRA7Od10NhaBhnbzGqkz/a12eaT8nrwc8i7v+kxZ2PdVx9iOGOQES+g8bxtlcR7fvznUMMD51QVK4gpfQeki7YE6I1/aR/kct8YNKsv574N6/hc5Xkuqs/rLIPKrjfxpNeUaaXeeGlw0yOMiRXaL0HzaTsr0NXMS9MpjqmJ5i28i8S9P7fOmu/cQ0rx7fzbsnU8hsSICvlSwgH7mcXOOda4GePrDFEHfvozYFKk0wjWW5LX5KvCY/M3F0CXleBngpGVueECs7oUt32ZW9ziW5MI7lkILcqe9hViGWL1YFk0Ty2kMw+Fi7igBhciuQEFrN8QSRGbHkmQWU8rlvZHS8N4Zy/DCQcrC+3osJwv3yUB07BK6cIKcoRLFTmDpnRQy2/ZfoJLJaS/J+j+gFlEphr1BsuUFHFCZS9q1GjFLIclb8Vz1aWCMF4F8AyX3auaw6vel65Je6W3ngSBnnbgSil1qLL2Tdk6f/wUqmZwcGRb/ALSlEroLQz0Dj/sLQPKO2ZG2XasRCWeJktBsheeuEQxv9EJwH9dAyT11BTWs9MlcsijrdWu1Ty+L52hcdnUFKTXdMC37o+QbOK7nK0KB2wYddBlzV9beqfN9nXInL7/Nu5MJpwJz3x0NJvdbL6DSqe5/iKqtlSMmg3gWHBqT3EmOPoN3I72S3WDy3QNSaeAq7+5xV1/FdDY/ejDaY8KIp6qToiad10DKdjlu0KS7VKFB6FC53Q8FlEB1rDTY6QAA') format('woff2'),
       url('iconfont.woff?t=1762134330585') format('woff'),
       url('iconfont.ttf?t=1762134330585') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jine-tianchong:before {
  content: "\e670";
}

.icon-zhuanhua:before {
  content: "\e700";
}

.icon-a-44tubiao-204:before {
  content: "\e6a1";
}

.icon-xianxing-_xiangshangqushi:before {
  content: "\e623";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-aixin:before {
  content: "\e602";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-a-ziyuan567:before {
  content: "\e78e";
}

.icon-tel:before {
  content: "\e641";
}

.icon-riqi:before {
  content: "\e647";
}

.icon-gongju:before {
  content: "\e633";
}

.icon-shangpin:before {
  content: "\e64f";
}

.icon-jilu:before {
  content: "\e61e";
}

.icon-shangpinliebiao:before {
  content: "\e613";
}

.icon-zhongzhiguanli:before {
  content: "\e646";
}

