.back-top{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255,0.5);
	padding: 6px;
	display: flex;
	align-items: center;
	justify-content: center;
	border:1px solid white;
	.wd-icon{
		font-size: 38rpx;
		color: var(--wot-text-primary-color, var(--wot-color-theme, #4d80f0)) ;;
	}
}

.error-wrap{
	background-color: #f5f5f5;
}

.font-theme-color{
	color: var(--wot-text-primary-color, var(--wot-color-theme, #4d80f0)) ;
}

.wd-cell-placeholder{
	color: var(--wot-input-placeholder-color, #bfbfbf);
	text-align: left;
}

// 设置黑夜模式下的样式
.wot-theme-dark{
	.back-top{
		background-color: rgba(0, 0, 0, 0.5);
		border: 1px solid var(--wot-dark-color3, rgba(232, 230, 227, .8));
		.wd-icon{
			font-size: 38rpx;
			color:  var(--wot-text-primary-color, var(--wot-color-theme, #4d80f0)) ;
		}
	}
	
	.filter {
		background: #131313 !important;
	}
	
	.page-class {
		background-color: #000000;
	}
	
	.error-wrap{
		background-color: #323233;
	}
}